{% extends "appImportacion/index.html" %}

{% load static %}

{% block Header %}
            <h1 class="display-4 fw-bolder">Cultural Passport</h1>
            <p class="lead fw-normal text-white-50 mb-0">Conectamos a las personas con lo que más valoran.</p>
{% endblock Header %}
<!-- Section-->

<!-- Form-->
{% block Form %}       
{% endblock Form %}

{% block Section %} 

<div class="container">
    <div class="row">
      <div class="col-9"><h3 >Un Poco Acerca de Mí..</h3></div>
      <div class="col-5"><div class="p-4"><img class="img-fluid rounded-circle" src="{% static 'appImportacion/assets/imagen/logística-internacional-scaled-1.jpg' %}" alt=" "></div></div>
      <div class="col-6">  Hola, soy es Nerea, al igual que muchos siempre quiero lo que no tengo. Tengo experiencia en administración, finanzas y ahora busco integrarme en el area de programación. Mi objetivo es que la distacia no sea una barrera. Si estás interesado/a en comprar articulos de otro país diferente al que estas actualmente, estaré encantado/a de de acercartelo a ti.<br>

        <br><h4>Cultural Passport</h4><br>Cultural Passport está diseñada para eliminar las barreras de la distancia en la compra de productos internacionales. Si estás interesado/a en adquirir artículos de un país diferente al que te encuentras actualmente, nuestro servicio facilita que esos productos lleguen directamente a ti. Simplificamos el proceso para que puedas disfrutar de una experiencia de compra global sin complicaciones, acercando el mundo a tus manos.
      </div>
      
  </div>

{% endblock Section %}

