{% extends "appImportacion/index.html" %}

{% load static %}

{% block Header %}         

            <h1 class="display-4 fw-bolder">Product</h1>

{% endblock Header %}
       
        {% block Form %}
        
        <a class="btn btn-outline-dark mt-auto" href="{% url 'compra-list' %}">Volver a lista de productos</a>  
        
         <!-- Form-->
        <form action= "{% url 'buscar' %}" method="GET"> 
            <input type="number" name="codigo_prod" id="codigo"> 
            <input type="submit" value="Buscar" >
        </form>           
        
        {% endblock Form %}

<!-- Section-->
{% block Section %}  
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div>


                    
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock Section %}