{% extends "appImportacion/index.html" %}

{% load static %}

{% block Header %}
            
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Pedidos</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>
{% endblock Header %}
<!-- Section-->

{% block Form %}
        
       <form action="{% url 'formpedido' %}" method="get">
        <button type="submit">Ingresar Pedido</button>
       </form>

{% endblock Form %}

{% block Section %}
     


{% endblock Section %}