{% extends "appImportacion/index.html" %}

{% load static %}

{% block Header %}         

            <h1 class="display-4 fw-bolder">Pedidos</h1>

{% endblock Header %}

        <!-- Form-->
        {% block Form %}
        
        <form method="POST">
            {% csrf_token %}  
            {{ miFormulario.as_table }}
            <button type="submit">Enviar</button>
        </form>     
     
        {% endblock Form %}

<!-- Section-->
{% block Section %}  
<section class="py-5">
    <div class=" container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div>


                    
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock Section %}