{% extends "appImportacion/index.html" %}

{% load static %}

{% block Header %}

            <h1 class="display-4 fw-bolder">Pedidos</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>

{% endblock Header %}
<!-- Section-->

{% block Form %}
        
       <form action="{% url 'formpedido' %}" method="get">
        <button type="submit">Ingresar Pedido</button>
       </form>

{% endblock Form %}

{% block Section %}
     


{% endblock Section %}