{% extends "appImportacion/index.html" %}

{% load static %}

{% block Header %}         

            <h1 class="display-4 fw-bolder">Product</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>

{% endblock Header %}

        <!-- Form para crear nuevo producto-->
        {% block Form %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}  
            {{ form.as_table }}
            <button type="submit">Guardar</button>
        </form>  
        
        <a class="btn btn-outline-dark mt-auto" href="{% url 'permiso' user.pk %}">Volver a lista de productos</a>         
        {% endblock Form %}

<!-- Section-->
{% block Section %}  
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div>


                    
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock Section %}